<div class="container mt-4">
    <!-- Cart Header -->
    <div class="row mb-3">
        <div class="col-12 col-md-6">
            <h2>Cart</h2>
        </div>
    </div>

    <!-- Product Table -->
    <table class="table table-bordered table-responsive table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Final Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through products and display -->
            <% if (cart.items.length > 0) { %>
                <% cart.items.forEach((item) => { %>
                    <tr>
                        <td>
                            <img class="img-fluid" src="<%= item.productId.imageURL %>" alt="<%= item.productId.name %>" style="width: 150px; height: 150px; object-fit: contain;">
                        </td>
                        <td><%= item.productId.name %></td>
                        <td>$<%= item.productId.price %></td>
                        <td>$<%= (item.productId.price - (item.productId.price * item.productId.discount / 100)).toFixed(2) %></td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="5" class="text-center">No Products Found</td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <!-- Total Price -->
    <p class="mt-3 d-flex justify-content-end"><strong>Total price:</strong> $<%= cart.totalPrice %></p>
</div>
