<% if (success && success.length > 0) { %>
    <div class="alert alert-dismissible fade show alert-success text-center">
        <strong><%= success %></strong>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<!-- if cannot create user -->
<% if (error && error.length > 0) { %>
    <div class="alert alert-dismissible fade show alert-danger text-center" >
        <strong><%= error %></strong>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<div class="container mt-5">
    <h1 class="text-center mb-4">Shop Page</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Product Card Example -->

        <% if( products.length > 0  ) { %>
            <%  products.forEach( (product) =>{ %>
                <div class="col">
                    <div class="card product-card shadow-lg" >
                        <img src="<%= product.imageURL%>" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.name%></h5>
                            <p class="card-text">Original Price: <strong>$<%=product.price %></strong></p>
                            <p class="card-text discount">Discount: <%= product.discount %>%</p>
                            <p class="card-text">Price After Discount: <strong>$<%= product.price - ( product.price * product.discount / 100 ).toFixed(2) %></strong></p>
                            <a class="btn btn-primary w-100" href="/user/add-to-cart/<%=product._id%>">Add to Cart</a>
                        </div>
                    </div>
                </div>
           <% } ) %>
        <%} else{ %>
            <p>No products Found</p>
        <%}%>
        
    </div>
</div>